<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS Boot-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <!--Fim CSS Boot-->
    <!--Css-->
    <link rel="stylesheet" href="../static/style.css">
    <!--Fim Css-->
    <link rel="icon" type="image/png" href="../static/img/asset-15.png">
    <!--icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!--Fim Do icons-->
    <title>Patrick Cohenn</title>
</head>

<body>
    <!--  ------------------------------------------------------ Inicio do menu mobile ------------------------------------------------------ -->
    <i class="bi bi-list menu-mobile"></i>
    <!--  ------------------------------------------------------ Inicio do menu mobile  ------------------------------------------------------ -->
    <!--  ------------------------------------------------------ Inicio do menu lateral ------------------------------------------------------ -->
    <aside id='header'>
        <section class="profile">
            <img src="../static/img/perfil.png" alt="Foto do Patrick">
            <h1>Patrick Cohenn</h1>
            <!--/*Rede social*/-->
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://br.linkedin.com/in/patrickcohenn">
                    <!--target="_blank" serve para abrir uma pagina em branco-->
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/patrickcohenn">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/patrickcohenn/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://twitter.com/patrickcohenn">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
            <!--/*Fim Rede social*/-->
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidade"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contatos"><i class="bi bi-envelope"></i> Contatos</a>
                </li>
            </ul>
        </nav>
    </aside>
    <!--  ------------------------------------------------------ Fim do menu lateral --------------------------------------------------------- -->
    <!--  ------------------------------------------------------ Inicio do Main -------------------------------------------------------------- -->
    <main id="main">
        <!-------------------------------------------------------------- Incio --------------------------------------------------------------- -->
        <section id="inicio" class="row m-0 p-0"> <!-- A class row do Boot tem 12 colunas -->
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Patrick Cohenn</h2>
                <span id="subtitle" class="text-white text-shadow">Analista TI, Digital Influencer</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flwx align-items-end">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>
            </div>
        </section>  
        <!-- -------------------------------------------------------- Fim do Incio ----------------------------------------------------------- -->

        <!-- ----------------------------------------------------------- Sobre --------------------------------------------------------------- -->
        <section id="sobre" class="container mt-5">
            
            <div class="row w-100">
                <h2 class="pt-3">Sobre</h2>
                <p>
                    Sou formado na UNIUBE no curso Engenharia de Computação, no qual estou trabalhando no momento da criação deste portfólio, 
                    neste cargo foi e está sendo de muito importância para o meu desenvolvimento profissional e até mesmo pessoal.
                    Porem no momento estou em busca de desenvolver minha vida profissional e no mento estou estudando e lendo de sobre programação Web e ladder.
                </p>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow"  src="../static/img/perfil.png" alt="Foto do Patrick">
                </div>
                <div class="col-md-8">
                    <h3>Analista de Suporte Jr</h3>
                    <p>
                        Responsável para gerenciar e administrar usuários do LIAE (alunos, docentes e outros), 
                        Realização de manutenção preventiva e corretiva nos equipamentos do setor como computadores (Windows e macOS), 
                        organizar os demais periféricos. Criação de logins (AD) para acesso aos computadores do setor e também para acesso ao Wi-Fi, 
                        Instalações de software solicitados pelos docentes auxilio em algumas configurações nos computadores para que os docentes possam realizar as aulas. 
                        Auxílio aos demais usuários no período noturno.
                    </p>

                    <div class="row mt-3 mb-3"> <!-- Cargo e lista -->
                        <div class="col-md-6"> <!-- Lista da Esquerda -->
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-light"> 16 de Outubro 1988</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-light">34 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-light">Uberaba</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-light">Minas Gerais</span>
                                </li>
                            </ul>
                        </div><!--  Fim Lista da Esquerda -->
                        <div class="col-md-6"><!-- Lista de Direita -->
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-light">Correr</span>
                                </li>
                                <li class="list-group-item">
                                    Site: <a href="https://xnerd.com.br/" 
                                            target="_blank"
                                            class="fw-light text-decoration-none">
                                            x-nerd
                                        </a>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-light">Suporte Tec.</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-light">+10 anos</span>
                                </li>
                            </ul>
                        </div><!-- Fim Lista de Direita -->
                    </div><!--  Fim Cargo e lista -->

                    <p>
                        Em busca do meu crescimento pessoal acho muito importe os Hobby e com isso um dos meus e uma página de notícia sobre jogos, 
                        cinema, series, tecnologia e muito mais e tudo referente ao mundo nerd
                    </p>
                </div>

            </div>
        </section>
        <!-- -------------------------------------------------------- Fim do Sobre ------------------------------------------------------------ -->

        <!-- ------------------------------------------------------ Inicio Habilidade --------------------------------------------------------- -->
        <section id="habilidade" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Habilidades são características de um indivíduo hábil. Ou, em outras palavras, são aptidões. 
                    Quando alguém é capaz de realizar uma tarefa bem feita, dizemos que essa pessoa é habilidosa.
                    Esse adjetivo, por sua vez, remete a outras qualidades, como inteligência, agilidade e destreza. 
                </p>
                <p>Fonte: <a href="https://ead.pucpr.br/blog/habilidades-profissionais#:~:text=Habilidades%20s%C3%A3o%20caracter%C3%ADsticas%20de%20um,como%20intelig%C3%AAncia%2C%20agilidade%20e%20destreza.">PUCPR</a></p>
                <!------------------ Barras de Habilidades ------------------>
                <div class="row">
                    <!------------------ Barras de Ling ------------------>
                    <div class="col-md-6">
                        <!--  Inicio HTML -->
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!--  Fim HTML -->
                        <!--  Inicio CSS -->
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                70%
                            </div>
                        </div>
                        <!--  Fim CSS -->
                        <!--  Fim JavaScrip -->
                        <p class="mt-3 mb-0">JavaScrip</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                40%
                            </div>
                        </div>
                        <!--  Fim JavaScrip -->
                        <!--  Inicio Java -->
                        <p class="mt-3 mb-0">Java</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                40%
                            </div>
                        </div>
                        <!--  Fim Java -->
                        <!--  Inicio Python -->
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                50%
                            </div>
                        </div>
                        <!--  Fim Python -->
                        <!--  Inicio Git -->
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                70%
                            </div>
                        </div>
                        <!--  Fim Git -->
                    </div>
                    <!------------------ Barras de Ling ------------------>

                    <!------------------ Barras de Tec ------------------>
                    <div class="col-md-6">
                        <!--  Inicio Boots -->
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                50%
                            </div>
                        </div>
                        <!--  Fim Boots -->
                        <!--  Inicio Angular -->
                        <p class="mt-3 mb-0">Angular</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                10%
                            </div>
                        </div>
                        <!--  Fim Angular -->
                        <!--  Inicio ReactJS -->
                        <p class="mt-3 mb-0">ReactJS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                                5%
                            </div>
                        </div>
                        <!--  Fim ReactJS -->
                        <!--  Inicio NodeJs -->
                        <p class="mt-3 mb-0">NodeJs</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                10%
                            </div>
                        </div>
                        <!--  Fim NodeJs -->
                        <!--  Inicio SQL -->
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                10%
                            </div>
                        </div>
                        <!--  Fim SQL -->
                        <!--  Inicio MySQL -->
                        <p class="mt-3 mb-0">MySQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                10%
                            </div>
                        </div>
                        <!--  Fim MySQL -->
                    </div>
                    <!------------------ Barras de Tec ------------------>
                </div>
                <!---------------- Fim Barras de Habilidades ----------------->
                <hr class="w-50 me-auto ms-auto">
                <!---------------- Inicio Barras de SoftSkills ----------------->
                <div class="row">
                    <!---------------------------- Inicio Coluna Esquerda ------------------------------------->
                    <div class="col-md-6">
                        <!-- Inicio Comunicação -->
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Comunicação -->
                        <!--  Inicio Flexibilidade E Resiliência -->
                        <p class="mt-3 mb-0">Flexibilidade E Resiliência</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Flexibilidade E Resiliência  -->
                        <!--  Inicio Proatividade -->
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                75%
                            </div>
                        </div>
                        <!--  Fim Proatividade -->
                        <!--  Incio Atitude Positiva -->
                        <p class="mt-3 mb-0">Atitude Positiva</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Atitude Positiva  -->
                        <!-- Inicio Liderança  -->
                        <p class="mt-3 mb-0">Liderança</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Liderança  -->
                        <!-- Inicio Criatividade  -->
                        <p class="mt-3 mb-0">Criatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Criatividade  -->
                    </div>
                    <!----------------------------- Fim Coluna Esquerda --------------------------------------->
                    <!----------------------------Inicio Coluna direita ------------------------------------->
                    <div class="col-md-6">
                            <!-- Inicio Desenvolvimento da equipe -->
                            <p class="mt-3 mb-0">Desenvolvimento da equipe</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    90%
                                </div>
                            </div>
                            <!-- Fim Desenvolvimento da equipe -->
                            <!--  Inicio Motivação -->
                            <p class="mt-3 mb-0">Motivação</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    80%
                                </div>
                            </div>
                            <!-- Fim Motivação  -->
                            <!--  Inicio Influência -->
                            <p class="mt-3 mb-0">Influência</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    65%
                                </div>
                            </div>
                            <!--  Fim Influência -->
                            <!--  Incio Capacidade de tomar decisões -->
                            <p class="mt-3 mb-0">Capacidade de tomar decisões</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    90%
                                </div>
                            </div>
                            <!-- Fim Capacidade de tomar decisões  -->
                            <!-- Inicio Conhecimento político e cultural  -->
                            <p class="mt-3 mb-0">Conhecimento político e cultural</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    960%
                                </div>
                            </div>
                            <!-- Fim Conhecimento político e cultural  -->
                            <!-- Inicio Coaching  -->
                            <p class="mt-3 mb-0">Coaching</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    75%
                                </div>
                            </div>
                            <!-- Fim Coaching  -->
                    </div>
                    <!----------------------------Fim Coluna direita ------------------------------------->
                </div>
                <!------------------ Fim Barras de SoftSkills ------------------>
            </div>
        </section>
        <!-- -------------------------------------------------------- Fim Habilidade ---------------------------------------------------------- -->
    </main>
    <!--  ----------------------------------------------------------- Fim do Main ------------------------------------------------------------- -->
    <script src="../static/bootstrap/js/bootstrap.esm.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>