<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Css-->
    <link rel="styleshee" href="../static/style.css">
    <!--Fim Css-->
    <link rel="stylesheet" type="image/png" href="../static/img/asset-15.png">
    <title>Patrick Cohenn</title>
</head>
<body>
    <h1>Olá Mundo</h1>

    
    <script src="../static/script.js"></script>
</body>
</html>